<div class='exchange_box col-sm-12'>
 <div class='card'>

   <div class='card-header text-center'>
    Simule sua conversão
   </div>

   <div class='card-block'>
    <%= form_with url: "/convert", method: :get, id: 'exchange_form' do |f| %>
       <div class='local_currency'>
         <div class='form-group'>
           <p class='title'>Moeda Local</p>
          <%= f.select 'source_currency', options_for_select(currency_list, 'BRL'), {}, { class: 'form-control', id: 'source_currency' } %>
         </div>

         <div class='form-group'>
          <%= f.number_field 'amount', id: 'amount', class: 'form-control', placeholder: 'Quantidade ($10)', min: '1', step: 'any', required: true %>
         </div>
       </div>

       <div>
        <a href="#" id="reverse">
          <svg class="bi bi-arrow-down-up" width="2sem" height="2em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M11 3.5a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-1 0V4a.5.5 0 0 1 .5-.5z"/>
            <path fill-rule="evenodd" d="M10.646 2.646a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L11 3.707 8.354 6.354a.5.5 0 1 1-.708-.708l3-3zm-9 7a.5.5 0 0 1 .708 0L5 12.293l2.646-2.647a.5.5 0 1 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 0 1 0-.708z"/>
            <path fill-rule="evenodd" d="M5 2.5a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-1 0V3a.5.5 0 0 1 .5-.5z"/>
          </svg>
        </a>
      </div>

       <div class='destination_currency'>
         <div class='form-group'>
           <p class='title'>Moeda Pretendida</p>
          <%= f.select 'target_currency', options_for_select(currency_list, 'EUR'), {}, { class: 'form-control', id: 'target_currency' } %>
         </div>
         <div class='form-group'>
           <input type='text' id='result' name='result' class='form-control' placeholder='Resultado' readonly>
         </div>
       </div>
    <% end %>
   </div>
 </div>
</div>